{% extends 'base.html' %}
<h1>THis is home page</h1>

{% block head %} 
<title>
		Home
	</title>
{% endblock %}
	

{% block body %}

<h1>Hello {{ user.username }}</h1>

<br>


<p>
	<h3>Book id: {{ user.userprofile.book_id }} </h3><br>
	<h3>Book Name: {{ user.userprofile.book_name }} </h3><br>
	<h3>Previous Balance: {{ user.userprofile.previous_balance }} </h3><br>
	<h3>Copies Printed: {{ user.userprofile.copies_printed}} </h3><br>
	<h3>Total Copies: {{ user.userprofile.total_copies }} </h3><br>
	<h3>Specimen issued: {{ user.userprofile.specimen_issued }} </h3><br>
	<h3>Copies Sold: {{ user.userprofile.copies_sold }} </h3><br>
	<h3>Balance stock: {{ user.userprofile.balance_stock }} </h3><br>
	<h3>Royalty rate: {{ user.userprofile.royalty_rate }} </h3><br>
	<h3>Royalty amount: {{ user.userprofile.royalty_amount }} </h3><br>
</p>



{% endblock %}


